nav {
    font-size: large;
}

#navbar-brand {
    font-size: 5rem;
}

.form-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input[type="file"] {
    margin-bottom: 10px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #1e6091;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #003670;
}

#basicBtn, #accuracyBtn, #signalBtn, #mapBtn {
    background-color: #1e6091;
    border-color: #1e6091;
}

#basicBtn.active, #accuracyBtn.active, #signalBtn.active, #mapBtn.active {
    background-color: #003670;
    border-color: #003670;
}

#graphSection {
    display:none;
}

.current-date-bubble {
    position: absolute;
    top: 55.5%;
    left: 67%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.resetZoomBtn {
    padding: 7px;
    margin-top: 5px;
    background-color: #e3ecf8;
    color: #4182d0;
    font-size: revert;
    border-width: 0;
}

.resetZoomBtn:hover{
    color: #426189;
    background-color: #a5c9f9;
}

/* important for rewriting javascript */
@media only screen and (max-width: 955px) {
    .end-label {
        position: relative !important;
        right: -50% !important;
    }
}

@media only screen and (max-width: 766px) {
    .current-date-bubble {
        top: 92.5% !important;
        left: 41% !important;
    }
}

@media only screen and (max-width: 572px) {
    .end-label {
        position: relative !important;
        right: -43% !important;
    }
}
